<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"> 

<head>
    <title>Toeic Master - Free Practice for TOEIC® tests </title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>

  

    <!-- Bootstrap CSS-->
    <link rel="stylesheet"  href="../assets/plugins/bootstrap/css/bootstrap.min.css" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}"/>
    <!-- Custom CSS -->
     <link rel="stylesheet" href="../css/user_css.css" th:href="@{/css/user_css.css}"/> 



</head> 

<body>


<div class="container">
    <div class="row profile">

    <div class="col-md-3">
      <div class="profile-sidebar">
      
        
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
             <p th:text="${exam.name}">Bài photo practice 1 thực hành làm theo mẫu câu cho trước </p>
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li >
              <a th:href="@{/user-info}">
              <i class="glyphicon glyphicon-home"></i>Trang cá nhân </a>
            </li>
            <li class="active">
              <a th:href="@{/update-examination/info(id=${exam.id})}">
              <i class="glyphicon glyphicon-book"></i>Thông tin bài thi</a>
            </li>
             <li class="">
              <a th:href="@{/update-examination/1(id=${exam.id}, num=1)}">
              <i class="glyphicon glyphicon-question-sign"></i>Câu hỏi</a>
            </li>
            
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>

    <!-- content -->
    <div class="col-md-9">
       <div class="profile-content">
          <h3>Thông tin bài thi</h3>
          <br/>
          <form th:object="${exam}" th:action="@{/update-examination-info}" method="POST">
          	 <input type="hidden" class="form-control" id="exercise-id" th:field="*{id}"/>
            <div class="form-group">
              <label class="small" for="fullname">Tên bài thi</label>
              <input type="text" class="form-control" id="exercise-name" th:field="*{name}"/>
            </div>
            <div class="form-group">
              <label class="small" for="birthday">Số câu hỏi</label>
              <input type="number" class="form-control" id="birthday" th:field="*{numberOfQuestion}" />
            </div>
            <div class="form-group">
              <label class="small" for="birthday">Thời gian</label>
              <input type="number" class="form-control" id="birthday" th:field="*{timeOut}" />
            </div>
            
            <div class="form-group">
              <button type="submit" class="btn btn-primary form-control">Cập nhật</button>
            </div>
          </form>

       </div>
    </div>



  </div>
</div>
<center>
<strong>Powered by <a>Toeic</a></strong>
</center>
<br/>
<br/>

    

<!-- JS Global Compulsory -->           
<script type="text/javascript" th:src="@{/assets/plugins/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script> 


</body>

</html> 